@use "base/variables" as v;
@use "base/mixins" as m;

.header {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0);

  @include m.tablet {
    justify-content: space-between;
    align-items: center;
  }
  @include m.desktop {
    flex-direction: row;
  }

  &__formater {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: white;
    }
  }

  &__close {
    color: white;
    width: 40px;
  }

  &__logout,
  &__car {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__close {
    @include m.tablet {
      display: none;
    }
  }

  &__nav-bar {
    display: none;
    flex-direction: column;
    a {
      font-size: 2rem;
      text-align: center;
      margin: 0.5rem auto;
      color: white;
    }

    @include m.tablet {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.mostrar {
  display: flex;
}
