@use "variables" as v;
@use "mixins" as m;

*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: v.$fuente_textos;
  font-size: 1.6rem;
}

.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    @include m.textoDegradado(#000);
    margin: 0;
    padding: 0;
  }

  p {
    color: #000;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
  }

  .formulario {
    color: #000;

    .boton {
      @include m.boton(#000, #ffff);
    }

    .acciones {
      display: flex;
      align-items: center;
    }
  }
}
.contenedor-sm {
  max-width: 70rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

footer {
  margin-top: 35.9rem;
  padding: 2rem;
  p {
    @include m.textoDegradado(#fff);

    @include m.tablet {
      font-size: 2rem;
    }

    span {
      color: lighten(#000, 15%);
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #000;
}

ul{
  margin: 0;
  padding: 0;
}