@use "variables" as v;
@use "mixins" as m;

*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  background-image: url("/build/img/bg-1920.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: v.$fuente_textos;
  font-size: 1.6rem;
  min-height: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 50%);
}
.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
.contenedor-sm {
  max-width: 70rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

footer {
  height: 10rem;
  margin-top: -6.7rem;
  padding: 2.5rem;
  background-color: rgba(0, 0, 0, 50%);

  p {
    @include m.textoDegradado(#fff);

    @include m.tablet {
      font-size: 2rem;
    }

    span {
      color: lighten(#27b66c, 15%);      
    }
  }
}
