@use "variables" as v;
@use "mixins" as m;

*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  background-image: url("/build/img/bg-1920.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body {
  font-family: v.$fuente_textos;
  font-size: 1.6rem;  
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
}

.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    @include m.textoDegradado(#27b66c);

    span {
      @include m.textoDegradado(#ffff);
    }    
  }

  p {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
  }

  .formulario {
    color: #fff;

    .boton {
      @include m.boton(#27b66c, #ffff);
    }

    a {
      color: #fff;
    }
  }
}
.contenedor-sm {
  max-width: 70rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

footer {
  margin-top: 35.9rem;
  padding: 2rem;
  p {
    @include m.textoDegradado(#fff);

    @include m.tablet {
      font-size: 2rem;
    }

    span {
      color: lighten(#27b66c, 15%);
    }
  }
}
