@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor {  
  height: 100vh;

  h1 {
    @include m.textoDegradado(#27b66c);

    span {
      @include m.textoDegradado(#FFFF);
    }
  }

  .formulario {
    margin-top: 15rem;
    color: #FFF;

    .boton {
      @include m.boton(#27b66c, #FFFF);
    }

    a{
      color: #FFF;
    }
  }
}
