@use 'base/variables' as v;
@use 'base/mixins' as m;

.mensaje {
    .alerta {
      margin-top: 15rem;
      padding: 2rem;
      text-align: center;
    }
  
    .acciones {
      .boton {
        @include m.boton(v.$verdeVivo, #fff);
      }
    }
  }