@use "base/variables" as v;
@use "base/mixins" as m;

.admin {
  h1 {
    font-size: 4.5rem;
    margin: 5rem 0;
  }
}

.inicio__product {
  &-mensaje {
    width: 100%;
    font-size: 5rem;
    text-align: center;
    font-weight: normal;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 0.5rem;
  }

  &--btnBorrar {
    @include m.boton(red, white);
  }
}
